/*On Hover Buttons Shown*/
.hover-button{
    display: none;
    z-index: 2;
}

tr:hover .hover-button{
    display: inline-block;
}

/*Account Setup Design*/
#signUpForm, #forgotPassword {
    max-width: 500px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
    border-radius: 12px;
}
#signUpForm .form-header {
    gap: 5px;
    text-align: center;
    font-size: .9em;
}
#signUpForm .form-header .stepIndicator {
    position: relative;
    flex: 1;
    padding-bottom: 30px;
}
#signUpForm .form-header .stepIndicator.active {
    font-weight: 600;
}
#signUpForm .form-header .stepIndicator.finish {
    font-weight: 600;
    color: #39A2DB;
}
#signUpForm .form-header .stepIndicator::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: #d5efed;
    border-radius: 50%;
    border: 3px solid #ecf5f4;
}
#signUpForm .form-header .stepIndicator.active::before {
    background-color: #39A2DB;
    border: 3px solid #A2DBFA;
}
#signUpForm .form-header .stepIndicator.finish::before {
    background-color: #39A2DB;
    border: 3px solid #A2DBFA;
}
#signUpForm .form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #f3f3f3;
}
#signUpForm .form-header .stepIndicator.active::after {
    background-color: #A2DBFA;
}
#signUpForm .form-header .stepIndicator.finish::after {
    background-color: #39A2DB;
}
#signUpForm .form-header .stepIndicator:last-child:after {
    display: none;
}
#signUpForm input, #forgotPassword input {
    width: 100%;
    font-size: 1em;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}
#signUpForm input:focus, #forgotPassword input:focus {
    border: 1px solid #39A2DB;
    outline: 0;
}
#signUpForm input.invalid, #forgotPassword input.invalid {
    border: 1px solid #ffaba5;
}

#signUpForm .step, #forgotPassword .step{
  display: none;
}
#signUpForm .form-footer{
    overflow:auto;
    gap: 20px;
}
#signUpForm .form-footer button{
    padding: 13px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    margin-top: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#signUpForm .form-footer button:hover {
  opacity: 0.8;
}

/*Account Setup Successful*/
.successful{
    max-width: 500px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
    border-radius: 12px;
    display: block;
}

.successful-footer{
    padding: 13px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    margin-top: 5px;
}

/* Sections Management */
.nav-teachers {
    color:black;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    color:black;
}

/* Login Page */
.tensai-head {
    border-radius: .5rem;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
    padding:5%;
    /* margin:16px; */
    position:absolute; top:5%;
    word-wrap:break-word;
}